body {
    width: 100%;
    min-width: 300px;
    background-color: pink;
  }
  img {
    height: auto;
    width: 300px;
    margin-top: 40px;
  }
   header {
		                  position: fixed;
			top: 0px; 
			right: 0px;
                        left: 0px;                                  
			padding: 10px;
                        padding-left: 50px;
			margin: 0px;
			 font-family:Lobster;
                         text-align: left; 
                         color: white;
                         font-size:25pt; 
			background-color: #a71313;}

  navbar {
    margin-left: 1200px;
    font-size: 20px;
  }
  .nav-elements{
    margin-left: 25px;
  }
   
  h1 {
    text-align: center;
    
    margin-top: 300px;
    top: 100px; 
 font-family:Lobster;
   text-align: center; 
    color: white;
   font-size:80pt; 

  }
  p {
    text-align: center;
  }
  .project-tile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  


  }